<h1>Carrito</h1>
<div class="div-products-btn"><a class="view-products" href="/products">Volver a
    los productos</a></div>
<div>
  <div id="container--cart-products">

  </div>
  <div class="container--purchase">
    <button class="green-btn purchase" onclick="purchase()">Finalizar compra</button>
  </div>
</div>
<script src="/js/carts.js"></script>