<div id="products-header">
  <div class="first-row">

  </div>
  <p class="welcome" id="welcome-message"></p>
  <div class="div-title"><h1>Listado de productos</h1></div>
</div>
<div id="products">

</div>

<div id="pagination">

</div>
<script src="/js/products.js"></script>