<div class="center">
  <div class="form">
    <form id="register-form">
      <label for="name">Nombre</label>
      <input type="text" name="name" id="name" />
      <label for="lastname">Apellido</label>
      <input type="text" name="lastname" id="lastname" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="age">Edad</label>
      <input type="age" name="age" id="age" />
      <label for="password">Contraseña</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Registrar</button>
    </form>
    <a href="/login"><button class="goto-login">Ir a Login</button></a>
  </div>
</div>
<script src="/js/register.js"></script>