<div class="center">
  <div class="form">
    <form id="restore-form">
      <input type="hidden" name="token" value="{{token}}" />
      <label for="passwordNew">Nueva contraseña:</label>
      <input type="password" name="passwordNew" required />
      <label for="passwordConfirm">Confirmar contraseña:</label>
      <input type="password" name="passwordConfirm" required />
      <button type="submit">Restaurar</button>
    </form>
  </div>
</div>
<script src="/js/restore.js"></script>