<div class="center token-expired">
  <p class="error">El link para restablecer la contraseña ya no es válido,
    ¿desea pedir uno nuevo?</p>
  <button id="forgot-password">Restaurar contraseña</button>
</div>
<script src="/js/forgotPassword.js"></script>