<div class="center">
  <div class="form update-user">
    <p>Para cambiar de Usuario a Premium, se requiere subir la documentación
      necesaria, favor de subirla en el siguiente enlace:
      <a href="/uploadDocuments/{{userId}}">Subir documentos</a></p>
    <form id="update-form">
      <input type="radio" id="radio-user" name="role" value="user" />
      <label for="user">Usuario</label>
      <input type="radio" id="radio-premium" name="role" value="premium" />
      <label for="premium">Premium</label>
      <button type="submit">Guardar</button>
    </form>
    <hr />
    <a href="/current"><button class="green-btn">Ir al perfil</button></a>
  </div>
</div>
<script src="/js/updateUser.js"></script>