<div class="center">
  <div class="form">
    <form id="upload-documents-form">

      <label for="identification">Identificación</label>
      <input type="file" name="identification" />

      <label for="address">Comrpobante de domicilio</label>
      <input type="file" name="address" />

      <label for="bankaccount">Comprobante de estado de cuenta</label>
      <input type="file" name="bankaccount" />

      <button type="submit">Subir documentos</button>
    </form>
    <hr />
    <a href="/current"><button class="green-btn">Ir al perfil</button></a>
  </div>
</div>
<script src="/js/uploadDocuments.js"></script>