* {
  font-family: Arial, Helvetica, sans-serif;
}

/***PRODUCTS*****/
.welcome {
  font-size: 20px;
  font-weight: 700;
}

.right {
  display: flex;
  justify-content: end;
}

.green-btn {
  background: #b9d19b;
}

.red-btn {
  background: #f70707;
}

.green-btn,
.red-btn {
  margin: 12px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.btn-admin {
  background: #992026;
  color: white;
  margin: 12px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.logout {
  margin: 12px;
  background: #9c8673;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.div-title {
  display: flex;
  justify-content: center;
}
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid black;
  align-items: center;
  padding: 15px 15px 0px 15px;
  background-color: rgb(241, 240, 233);
}

.product span {
  font-weight: 700;
}

.add-product {
  margin-bottom: 15px;
  background: #9dd4bb;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.status {
  border: #992026 solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px 16px 0 16px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate-before,
.navigate-next {
  width: 2em;
  height: 2em;
}

.page {
  font-size: 18px;
  font-weight: 700;
}
.div-products-btn {
  margin-bottom: 1em;
}
.view-products {
  text-decoration: none;
  border: 1px solid #333333;
  background: #9dd4bb;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}
/***--PRODUCTS---*****/

/***CART*****/
#container--cart-products {
  display: flex;
  flex-direction: column;
}
#table-cart-products {
  border-collapse: collapse;
}

#table-cart-products td,
#table-cart-products th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-cart-products tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-cart-products tr:hover {
  background-color: #ddd;
}

#table-cart-products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #7799e4;
  color: white;
}

.total-label {
  text-align: end;
  font-weight: 700;
}

.total {
  font-weight: 700;
}

.container--purchase {
  display: flex;
  justify-content: end;
}
/****---CART---*****/

/****LOGIN*****/
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.form {
  border: 1px solid #333333;
  border-radius: 16px;
  padding: 1em;
  background-color: #e5e9d48c;
}

.form button {
  border-radius: 16px;
  background-color: #779ae4b4;
  font-weight: 700;
  padding: 0.5em;
}
/****---LOGIN---*****/

/****REGISTER*****/
#register-form {
  display: flex;
  flex-direction: column;
}
#register-form input {
  margin: 7px 0;
}

.goto-login {
  width: 100%;
}

/****---REGISTER---*****/

/****RESTORE*****/

/****---RESTORE---*****/
.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-table,
.user-table td {
  border: #333333 solid 1px;
  border-collapse: collapse;
}

.perfil-btns {
  display: flex;
}

/****EDIT*****/
#edit-form,
#create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#edit-form label,
#create-form label {
  margin-top: 5px;
  margin-bottom: 5px;
}

#edit-form button,
#create-form button {
  margin-top: 1.5em;
}
/****---EDIT---*****/

/****---Sweet alert---****/
#swal2-html-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
